# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Angular
frontend/dist/
frontend/.angular/
frontend/coverage/
frontend/public/

# Logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Tailwind
frontend/tailwind.config.js